[2015-03-07 22:56] ashepherd opened #1 "Paper: Choose a Venue"
SWJ: but maybe too technical
Ocean Tech Journal
EOS (doesn’t target right type of article)
PLOS ONE
Earth Science Informatics
PeerJ
PeerJ Comp Sci
F1000 Research
CEUS: http://www.journals.elsevier.com/computers-environment-and-urban-systems/
Journal of Web Semantics
Applied Ontology
Open Access
Open Access
PLOS Comp Bio
Database

[2015-03-07 22:56] ashepherd opened #2 "Paper: Outline & Writing Assignments"
Target audience:
Informaticians {building/using} tools to {discover/integrate} natural science data

[2015-03-07 22:59] ashepherd commented on #2
## Coordinate and cajole writing assignments, initial outline

# Goals
- Raise awareness of interop of obs models
- Demonstrate that markup in any of the separate vocabs is consistent with the others

[2015-03-07 23:04] ashepherd opened #3 "Data: Move triples spreadsheets to CSV in github"
1. https://docs.google.com/spreadsheets/d/1ACPhJRRWJnTnola24kxCbL8zvfzvWDWPb0JmZPa43V0/edit (BCO-DMO Sargasso Lipids CTD - http://www.bco-dmo.org/dataset/3584)
2. https://docs.google.com/spreadsheets/d/1zrpH17bA3VLNjIXfLqgzZOONbvU28u9q82d_4WTRsBc/edit#gid=0 (KNB water temp)

[2015-03-07 23:06] ashepherd opened #4 "Data: Formal OWL file with alignments"
Create an OWL file that aligns OBOE/O&M/BCO/PROV for reasoning tests

[2015-03-07 23:07] ashepherd opened #5 "Data: Write script to triplify csv data, reason over it, and graph it"

[2015-03-07 23:07] ashepherd opened #6 "Paper: Clean up Vue diagram"
1. Convert into several figures for the paper

[2015-03-07 23:08] ashepherd opened #7 "Alignment: Incorporate SSN into the models (Simon & Werner)"
figure and alignments

[2015-03-07 23:10] ashepherd opened #8 "Data: Identify an Ocean Cruise Dataset (Adam & Pier)"

[2015-03-07 23:11] ashepherd opened #9 "Data: Identify a Coastal ecology/biodiversity dataset (Matt & Mark)"

[2015-03-07 23:18] ashepherd opened #10 "Data: Identify dataset of soil samples with microbial (meta) genomes (Ramona & Pier)"
Ocean Sampling Day or soil samples with microbial (meta) genomes

[2015-03-07 23:20] ashepherd opened #11 "Data: Identify soil science/pedology, water quality dataset (Simon)"

[2015-03-07 23:21] ashepherd opened #12 "Data: Identify core loggingdataset (Simon)"
(geology)

[2015-03-07 23:22] ashepherd opened #13 "Use Case: Simulations/forecasting"

[2015-03-07 23:22] ashepherd opened #14 "Use Case: Datasets with experimental manipulations"

[2015-03-07 23:23] ashepherd opened #15 "Use Case: geospatial or other visualization?"

[2015-03-07 23:26] ashepherd opened #16 "Paper: Address perils of globbing classes for ‘convenience’."
Perhaps a short section in the paper demonstrating the perils of globbing classes for ‘convenience’. That is, make it quite clear what the sacrifice may be and the potential confusion downstream.

[2015-03-07 23:26] ashepherd opened #17 "Press Release: Layman/scientist explanation of paper (Mark/Pier/Ramona)"

[2015-03-08 04:49] mbjones commented on #5
Initial working script checked in in sha 40da7e4bf811ea5c5a1a60a594f1f65b64f1983a. Needs additional error checking, and to be run against the other spreadsheet, but it is basically working for the sargasso sea example data.

[2015-03-08 04:54] mbjones commented on #4
This might be more easily done as a spreadsheet of the same Subject/Predicate/Object format that we are using for the example data (see issue #5).  Then we can use our CSV converter script to create and add the alignments to the model.

[2015-03-08 04:56] mbjones commented on #3
I converted and added the Sargasso sea spreadsheet to the github examples directory. Others still need to be finished.

[2015-06-30 16:54] ramonawalls commented on #2
Ramona and Pier created an outline last months. It is available at https://docs.google.com/document/d/1Yn1RscG1_EOKenMs3QCYDfNVTU2LTHZryOs57_VMxbo/edit

[2015-07-01 00:19] mbjones commented on #16
Is this asking us to clarify the appropriateness of equivalentClass and equivalentProperty axioms?

[2015-07-01 00:20] ramonawalls commented on #6
We made a lot of progress on this. New diagrams are now in the repository in the figures folder.

[2015-07-01 00:20] mbjones commented on #5
Need to add ability to generalize from one row to the entire data file so that all of the data gets triplified.

[2015-07-01 00:24] ramonawalls opened #18 "clean up Air Water temp mapping and map to OML"
See https://docs.google.com/spreadsheets/d/1zrpH17bA3VLNjIXfLqgzZOONbvU28u9q82d_4WTRsBc/edit#gid=0.

Move mapping to github when it is clean.

[2015-07-01 00:24] mbjones commented on #2
Matt, Pier, and Ramona edited the outline extensively and refined the figures, so now we have a working plan for the paper.  See: https://docs.google.com/document/d/1Yn1RscG1_EOKenMs3QCYDfNVTU2LTHZryOs57_VMxbo/edit

[2015-07-01 00:25] mbjones commented on #1
Proposed PeerJ Comp Bio as the venue.

[2015-07-01 00:25] #1 closed, assigned to mbjones

[2015-07-01 00:28] ramonawalls opened #19 "Select a microbial deep ocean data set and map to BCO"
This is for the paper for the example use case that links environmental parameters to Omics data set.

@pbuttigieg - find a relevant dataset
@rlwalls2008 and other volunteers - do mapping. Can be based on other BCO mappings like the NEON data set.

[2015-07-01 13:54] wernerkuhn commented on #2
Dear all,

this is very nice, and I realize I have not been looking into the ongoing process, somehow not getting messages about it. I would love to contribute - is there an abstract yet? This seems essential to me to agree on the message we want to convey. 

-- 
Werner 

On June 30, 2015 at 8:24:21 PM, Matt Jones (notifications@github.com) wrote:

Matt, Pier, and Ramona edited the outline extensi

[2015-07-02 08:01] dr-shorthair commented on #5
I am concerned that exhaustive triplifying is tantamount to exhaustive database denormalization.

The point is not to actually materialize all these triples, but to have axioms, rules, SPARQL expressions (whatever) that say how the local properties could be constructed, when required. i.e. we want an API, not a cache. I'd like to see the results of this exercise expressed in a form that allows ind

[2015-07-02 18:01] ramonawalls commented on #19
Will use this data set from iMicrobe: http://mirrors.iplantcollaborative.org/browse/iplant/home/shared/imicrobe/projects/79/CAM_P_0000545.csv

Sequence data at http://mirrors.iplantcollaborative.org/browse/iplant/home/shared/imicrobe/projects/79/samples

Also described here: http://data.imicrobe.us/project/view/79

[2015-07-02 23:56] mbjones opened #20 "oml:result missing from ontology"
Our alignment diagram references oml:result, but this property is not present in the schema at the namespace URI http://def.seegrid.csiro.au/ontology/om/om-lite . Instead, the property oml:observation_result is listed under the Observation class but is not actually defined in the owl document.  See: http://def.seegrid.csiro.au/ontology/om/om-lite#d4e615

After this is resolved, need to fix it both

[2015-07-03 00:05] dr-shorthair commented on #20
I don't believe this is a bug.
   http://def.seegrid.csiro.au/ontology/om/om-lite#result
is in the ontology.
In the LODE (HTML) view it is listed here
   http://def.seegrid.csiro.au/ontology/om/om-lite#d4e91
amongst the Annotation properties. It is classified this way because it is defined as an rdf:Property (and not an owl:ObjectProperty or owl:DatatypeProperty). This classification is deliberate

[2015-07-03 00:09] ramonawalls opened #21 "align SSN:Observation to OML:observation"
Should they be equivalent classes?

[2015-07-03 00:14] dr-shorthair commented on #21
Nope. ssn:Observation is an information object that describes an observation. oml:Observation is an observation event or activity.

The original derivation of SSN from DOLCE hinted at this issue, and [1]  confirms my interpretation using PROV core classes. In fact, Compton et al. needed to introduce a new class 'ActivityOfSensing', which looks like it corresponds with oml:Observation. Here's the P

[2015-07-03 00:16] dr-shorthair commented on #21
(BTW - am currently revising the OML paper to include this material.)

[2015-07-03 03:20] #20 closed, assigned to dr-shorthair

[2015-08-07 13:01] pbuttigieg commented on #6
I think I shared all the VUE files that I worked on - if something is missing let me know.

[2015-08-13 16:15] mbjones commented on #4
Started this alignment file in Google docs: https://docs.google.com/spreadsheets/d/1dGKOVyXNo5pANXLgzgt2uFixHLxZDsvrlOOOsXiusvk/edit#gid=0

Continuing to edit.

[2015-08-13 22:35] dr-shorthair commented on #4
Made some changes to reflect more recent analysis from http://knoesis.org/ssn2014/paper_9.pdf and http://www.semantic-web-journal.net/content/ontology-observations-and-sampling-features-alignments-existing-models
also see email thread.

[2015-08-17 22:03] ramonawalls opened #22 "Can we use equivalantClass relations for alignment"
The W3C ref (not spec) states that "The meaning of such a class axiom is that the two class descriptions involved have the same class extension (i.e., both class extensions contain exactly the same set of individuals)" and "The use of owl:equivalentClass does not imply class equality. Class equality means that the classes have the same intensional meaning (denote the same concept). In the example

[2015-08-17 22:31] ramonawalls commented on #22
To test this, I made a series of small ontologies with two properties (prop1, prop2) and three classes (thing1, thing2, thing3) each of which has a single individual (indiv1, indiv2, indiv3). For class 1, I asserted - either as a subClass axiom or as an equivalence axiom - that thing1 prop1 thing3, and for class 2 I asserted thing2 prop2 thing3. This would be more realistic if the objects of the p

[2015-08-18 16:49] ramonawalls commented on #21
Thanks for clarifying, Simon. We will still need to decide whether or not we include SSN in our mapping. I suggest that the main focus of the mapping (e.g., the figure) be OBOE, OML, and BCO, and that we provide other mappings as auxiliary findings (because the authors of SSN and PROV were not part of the mapping process).

[2015-08-18 16:51] ramonawalls opened #23 "Include oml:ObserationCollection in the mapping"
Based on some clarifications of OML, we may need to revise our mapping diagram so that oboe:Observation mapps to oml:ObservationCollection rather than oml:Observation. Much of this discussion tool place in an email thread, which I will paste below.

[2015-08-18 16:51] ramonawalls commented on #23
Hi Simon,

Matt, Mark, Rob and I are here at ESA working on the ontology alignment. We just took a quick look at your most recent version of the OML paper on SWJ, and noticed that in listing 6, you say that oboe-core:Measurement is equivalent to OML:Observation. However, the VUE diagram we made at our meeting indicates that oboe-core:Observation is an equivalent class to OML:Observation. We were w

[2015-08-18 16:52] ramonawalls commented on #23
Hi Ramona –
I guess I changed my mind (though I thought that was already in the wind in the meeting). O&M Observation is at the lowest level of aggregation, which I think corresponds to oboe:Measurement?

O&M v1 had a formal Observation Collection class. We dropped it in v2 as it was not clear how it was different to a generic Feature Collection.

My thinking on this has subsequently evolved (in r

[2015-08-18 16:53] ramonawalls commented on #23
Thanks for clarifying. I understand your reasoning - if an oboe:Observation can have many measurements, then it would not map to oml:Observation is each oml:Observation can only have a single output result. In that case, mapping oboe:Observation to oml:ObservationCollection makes more sense.

However, I am not totally comfortable with directly mapping mapping oboe:Observation to oml:ObservationCol

[2015-08-18 16:54] ramonawalls commented on #23
In O&M we call the output of the observing process the ‘result’, and the re-usable procedure used in making the observation the ‘procedure’. The once-off event when the procedure was used to generate this result is the ‘Observation’ – it has a ‘result-time’ to record when it was completed, the existence of which emphasizes the event-ness of an ‘Observation’. The range of ‘result’ is Any in order t

[2015-08-18 16:55] wernerkuhn commented on #21
It would seem an omission to me if SSN was not part of this effort. The fact that no direct authors were present at our workshop was unfortunate and should not affect the overall alignment effort. Having done the original research underlying SSN, I will try my best to account for it, pulling in Jano and others where appropriate. 

-- 
Werner 

[2015-08-18 16:55] ramonawalls commented on #23
Thanks, Simon! See my responses in line.

After I send this, I am going to copy this thread to an issue on our repository, so we have a record of it.

Ramona

---

Ramona L. Walls, Ph.D.
Scientific Analyst, The iPlant Collaborative, University of Arizona
Research Associate, Bio5 Institute, University of Arizona
Laboratory Research Associate, New York Botanical Garden

On Tue, Aug 18, 2015 at 6:20

[2015-08-18 16:57] ramonawalls commented on #21
Thanks, Werner. Sorry for spacing out on that.  Yes, it does indeed make sense to include it in that case.

[2015-08-18 16:59] wernerkuhn commented on #21
Thanks, Ramona, could you point me to the evolving paper draft again please?

-- 
Werner 

[2015-08-18 17:01] ramonawalls commented on #21
Looks like you found it!

https://docs.google.com/document/d/1Yn1RscG1_EOKenMs3QCYDfNVTU2LTHZryOs57_VMxbo/edit

[2015-08-18 17:02] wernerkuhn commented on #21
Ah, I was not sure whether it had moved elsewhere, thanks!

[2015-08-18 20:12] dr-shorthair commented on #21
Note that the figure above is from [2](revised and re-submitted to Semantic Web Journal), where the SSN/PROV/OML alignment is presented at a little more depth.

[2] Cox, SJD "Ontology for observations and sampling features, with alignments to existing models" Submitted to Semantic Web Journal, http://www.semantic-web-journal.net/content/ontology-observations-and-sampling-features-alignments-existi

[2015-08-18 20:39] dr-shorthair commented on #23
I understand it this way: "an oboe:Observation could as parts have many measurement objects (events) which are called oboe:Measurements. Each oboe:Measurement follows a protocol (process), and has an value (scaled number or word) as an output (or result).  "

[2015-08-18 22:17] ramonawalls commented on #23
That is pretty close to how I understand it, except that it is the measurement object (an Event) that would follow the protocol. The oboe:Measurement would follow some oboe:Standard

[2015-09-02 20:56] amoeba commented on #22
@mbjones and I worked on this last week and I've worked on it some more this morning. Most of the work was just getting me familiar with this problem space.

I re-created a very similar set of ontologies to yours and wrote to shell scripts that run `sparql` and `owltools` so I could have a command-line way of understanding the implications of the ways each ontology is specified. These will likely

[2015-09-15 19:54] mbjones commented on #23
oml:ObservationCollection is now in the mapping and the figure.

[2015-09-15 19:54] #23 closed, assigned to nobody

[2015-09-15 19:55] mbjones commented on #22
Due to the open world assumption, this should work fine to use equivalentClass.  But the negative side effect is that the model can't really enforce cardinality constraints.  Closing as question is answered.

[2015-09-15 19:55] #22 closed, assigned to nobody

[2015-09-15 19:59] mbjones commented on #4
I've made another pass with the alignments that correspond with the diagram that I checked in at sha eed2b8110049f70d814ab356c71a3a02e8f6b8dd .  Some items for discussion were highlighted in the spreadsheet (https://docs.google.com/spreadsheets/d/1dGKOVyXNo5pANXLgzgt2uFixHLxZDsvrlOOOsXiusvk/edit#gid=0).

Need to modify the triples script to support unionOf and then we can generate the OWL file, an

[2015-09-16 04:15] dr-shorthair commented on #22
The W3C RDF Data Shapes project is addressing the issue of 'enforceable' constraints - closed-world version of RDF.

[2015-09-26 01:26] amoeba commented on #5
Long overdue in updating this issue. On our Sep 15 call, we talked about moving from manually triplifying datasets to writing a template which describes the triples we want to generate. I've made good progress on this and am now focusing more on figuring out which concepts to map onto the data and getting our three example datasets annotated.

The set of Python scripts that do the work as well as

[2015-09-28 18:47] amoeba commented on #5
I've updated the readme to match the state of the scripts:

https://github.com/Semantic-Observations/obs-models/blob/2791a2d0fd560c4e3cf9ed638a3ee82f6033a5d0/examples/csvtotriples/readme.md

[2015-09-28 18:51] amoeba opened #24 "CSV2Triples: Finish skeleton script"
The skeleton template generator script needs to be finished.
- [x]  Make the script read the file path from a command line argument
- [x] Make the script deal with either more than just CSV
- [x] Verify the script matches the latest template format

[2015-09-28 18:52] amoeba opened #25 "CSVToTriples: Handle multiple data filetypes (csv, fw, etc)"
The current incarnation of the annotation script only handles fixed-width files. Consider either automatic detection (try-parse-catch) or manual specification.

[2015-09-28 19:20] amoeba commented on #24
Closed by https://github.com/Semantic-Observations/obs-models/commit/4eb4d749b685935c54527dd541bd9fc3c430075b.

[2015-09-28 19:20] #24 closed, assigned to amoeba

[2015-09-28 19:49] amoeba commented on #25
Closed by 286b70ba6baa7ad1623174340df5a8f4f082a7da.

[2015-09-28 19:49] #25 closed, assigned to amoeba

[2015-09-28 22:19] amoeba opened #26 "CSV2Triples: Remove old csv-to-triples file from repo"
Remove the old csv-to-triples script from the repo if the script is completely obsoleted by the new csvtotriples package. For anything not covered by the new package, consider bringing it along into the new package or removing it entirely.

[2015-09-28 22:20] amoeba opened #27 "CSV2Triples: Add support for union classes"
Add support for creating anonymous nodes that are the union of two obs model classes. This new anonymous node should then be usable in the graph. The template may need to be expanded to allow for this usage.

[2015-09-28 22:36] #26 closed, assigned to amoeba

[2015-09-29 21:49] amoeba commented on #27
@mbjones Found out how to do it by parsing a turtle file and printing the statements,

https://github.com/Semantic-Observations/obs-models/blob/master/ontologies/parse.py

Use this to redesign the method that deals with unionOf

[2015-09-30 07:04] mbjones opened #28 "CSV2Triples: add support for blank nodes"
Add support for blank nodes by using the special underscore prefix '_'. When this is detected, create a blank node rather than a URI node.

[2015-09-30 07:05] mbjones commented on #28
Completed in sha a0be7ad436b279054fe8ecff8aa85b7d5422af5e

[2015-09-30 07:05] #28 closed, assigned to mbjones

[2015-09-30 07:23] mbjones commented on #6
Added changes to the overview master diagram that reflect our consensus from meeting today on September 29, 2015 with Matt, Mark, Simon, and Bryce.  At this point, the OBOE-OML alignment is complete and seems to have consensus.  There are still outstanding questions about the alignments to BCO, which can be seen in the highlighted rows of the [alignment spreadsheet](https://docs.google.com/a/nceas

[2015-09-30 07:34] dr-shorthair commented on #6
I also added a set of TTL files with most of the pair-wise alignments here: https://github.com/Semantic-Observations/obs-models/tree/master/ontologies

[2015-09-30 16:58] amoeba opened #29 "CSV2Triples: Add support for command line arguments"
It would be useful if a csvtotriples could be customized using command line arguments rather than modifying the source. Add support for the following command line arguments:
- [ ] Specify the template filepath, e.g. `python annotate.py mytemplate.csv`
- [ ] Specify the number of rows to read in from the data. e.g., -n 10 (select first ten rows)
- [ ] Specify the output filename, e.g., `python anno

[2015-09-30 17:01] amoeba opened #30 "CSV2Triples: Update README"
The program has changed quite a bit in the last day. Update the readme to reflect those changes.

[2015-09-30 17:02] amoeba opened #31 "Data: Clean up examples directory and csvtotriples package"
I've made the examples directory a bit messy and it would be nice to clean it up.

[2015-09-30 17:11] #31 closed, assigned to amoeba

[2015-09-30 19:22] #29 closed, assigned to amoeba

[2015-09-30 19:54] amoeba commented on #27
@mbjones script spit out the following statements for A unionOf (B C)

[code]

[2015-09-30 21:34] amoeba commented on #27
Looks like I've got this working.

The template file:

[code]

Is turned into the Turtle syntax:

[code]

[2015-09-30 21:34] #27 closed, assigned to amoeba

[2015-09-30 22:10] amoeba commented on #30
Closed by 024ac774b9aae977ea0d0230bcf175d24ab5b774

[2015-09-30 22:10] #30 closed, assigned to amoeba

[2015-09-30 22:34] amoeba commented on #5
I've cleaned things up. The Python package is in https://github.com/Semantic-Observations/obs-models/tree/master/examples/csvtotriples which contains a readme.

[2015-09-30 22:49] amoeba commented on #4
I replaced the script with a Python package located under examples/csvtotriples. See #5 for some of my comments.

The package supports the same format as the old script and also supports the use of `owl:unionOf` and blank nodes in the CSV file. I've run this on the alignment axioms CSV file and produced an alignment owl file:

https://github.com/Semantic-Observations/obs-models/blob/8cd518957485f4

[2015-09-30 23:01] amoeba opened #32 "Alignment: ssnext:ActivityOfSensing rdfs:subClassOf prov:Activity"
This issue is to track mapping `ssnext:ActivityOfSensing` to `prov:Activity` through the `rdfs:subClassOf` property. This issue comes directly from the obs-model-alignment-axioms spreadsheet on Drive.

Notes:

`ssnext` is at https://github.com/dcorsar/ssnprov/blob/master/PROV_SSN.rdf

`ssnext:ActivityOfSensing` is https://github.com/dcorsar/ssnprov/blob/master/PROV_SSN.rdf#L219

[2015-09-30 23:02] amoeba opened #33 "Alignment: ssnext:ActivityOfSensing owl:equivalentClass oml:Observation"
This issue is to track mapping `ssnext:ActivityOfSensing` to `oml:Observation` through `owl:equivalentClass` property. This issue comes directly from the obs-model-alignment-axioms spreadsheet on Drive.

Notes:

`ssnext` is at https://github.com/dcorsar/ssnprov/blob/master/PROV_SSN.rdf

`ssnext:ActivityOfSensing` is https://github.com/dcorsar/ssnprov/blob/master/PROV_SSN.rdf#L219

[2015-09-30 23:04] amoeba opened #34 "Alignement: obo:bco_0000003 owl:equivalentClass oboe:Observation"
This issue is to track mapping `obo:bco_0000003` to `oboe:Observation` through `owl:equivalentClass` property. This issue comes directly from the obs-model-alignment-axioms spreadsheet on Drive.

`obo:bco_0000003` is `BCO:observing process`

[2015-09-30 23:06] amoeba opened #35 "Alignment: owl:unionOf(obo:BFO_0000020 obo:PATO_0000001) skos:related oboe:Characteristic"
This issue is to track mapping `owl:unionOf(obo:BFO_0000020 obo:PATO_0000001)` to `oboe:Characteristic` through `skos:related` property. This issue comes directly from the obs-model-alignment-axioms spreadsheet on Drive.

`obo:BFO_0000020` is `BFO:specifically dependent continuant`
`obo:PATO_0000001` is `PATO:quality`

[2015-09-30 23:13] amoeba opened #36 "Alignment: oboe:Measurement skos:related obo:IAO_0000027"
This issue is to track mapping `oboe:Measurement` to `obo:IAO_0000027` through `skos:related` property. This issue comes directly from the obs-model-alignment-axioms spreadsheet on Drive.

`obo:IAO_0000027` is    `iao:data item`

[2015-09-30 23:14] amoeba opened #37 "Alignment: oboe:hasMeasurement align:similarProperty obo:OBI_0000299"
This issue is to track mapping `oboe:hasMeasurement` to `obo:OBI_0000299` through `align:similarProperty` property. This issue comes directly from the obs-model-alignment-axioms spreadsheet on Drive.

`obo:OBI_0000299` is    `obo:has_specified_output`

[2015-09-30 23:15] amoeba opened #38 "Alignment: oml:hasCharacteristic align:similarProperty obo:RO_0000053"
This issue is to track mapping `oml:hasCharacteristic` to `obo:RO_0000053` through `align:similarProperty` property. This issue comes directly from the obs-model-alignment-axioms spreadsheet on Drive.

`obo:RO_0000053`    is `obo:bearer_of`

[2015-10-01 00:30] amoeba opened #39 "CSV2Triples: Change from using fake _:x URIs to using blank nodes properly"
The current incarnation converts strings like "_:x" into URIs and not blank nodes. They should be blank nodes but we'll need to keep references to those blank nodes so triples in the TRIPLES section can reference each others' blank nodes.

[2015-10-01 11:33] ramonawalls commented on #35
I have changed the mapping diagram (and will update the spreadsheet at some point) so that oboe:characteristic is equivalent to bfo:sdc, so we don't need the union class. PATO:quality should really be a subclass of sdc, so including it in this graph is not necessary. I also think we can use an equivalent class relation here, instead of SKOS related to.

[2015-10-01 18:53] amoeba commented on #39
It looks like I've got this working, or at least close to working. The resulting ttl files aren't exactly what I am looking for but are close. For some reason I'm still seeing

[code]

where I'm expecting:

[code]

instead of that observation statement being nested inside.

@mbjones is this okay? I've banged my ahead against this all morning and I don't know if I'm not thinking about it right or w

[2015-10-02 00:13] amoeba opened #40 "CSV2Triples: Add feedback for warnings and validation of the template/result"
Currently, little checking is done when annotating to ensure the template file does not contain errors and that the resulting TTL file is well-formed. Add the following checks and warn the user when checks fail:

Validations (prints to stdout before processing)
- [ ] ~~All namespaces needed are present~~
- [ ] ~~No extra namespaces~~

Warnings (prints message to stdout)
- [x] Observations don't ha

[2015-10-02 19:04] amoeba commented on #39
The _:o1row0 is a valid way of referring to blank nodes and is an equivalent to the [] syntax. So the above code is fine.

[2015-10-02 19:04] #39 closed, assigned to nobody

[2015-10-02 19:25] amoeba opened #41 "Data: Fill in Sargasso Sea Lipids semantic annotation template"
@mpsaloha, the semantic annotation template for the Sargasso Sea Lipids dataset is created but needs to be filled in with appropriate classes. The semantic annotation template is at:

https://github.com/Semantic-Observations/obs-models/blob/master/examples/sargasso-sea-lipids.csv

We think we have the Observations marked up correctly with the right set of hasContext statements. We need help fillin

[2015-10-02 21:54] amoeba commented on #41
Updated the above table with the best guesses I have so far.

[2015-10-03 00:45] amoeba commented on #40
Added code and tests to check that all values that were mapped were added and that they weren't added more than once.

[2015-10-03 01:08] mpsaloha commented on #41
Bryce-- the GeoSPARQL spec might have some of the geospatial entities that you need.  For time stuff, there are some xsd datatypes that could be used?  Or I believe a W3C time ontology?

[2015-10-05 02:48] dr-shorthair commented on #41
Yes - for Time, use OWL-Time http://www.w3.org/2006/time, e.g. http://www.w3.org/2006/time#Instant (though also see http://www.semantic-web-journal.net/content/time-ontology-extended-non-gregorian-calendar-applications-0)

For location, it is recommended _not_ to have separate columns for (x,y) since
(a) they are not independent of each other
(b) also need a CRS to interpret position properly.

Ge

[2015-10-05 19:21] amoeba commented on #41
Thanks @mpsaloha and @dr-shorthair.

I'm happy with using an instance of OWL-Time's #Instant class for the subject of `OBOE:ofEntity` statement for the date and times in this dataset. What about Characteristics and Standards for these values? The values for date are like '20110315' and time are '1639'. Are there standards for these encodings of dates and times? I saw some standards for other types

[2015-10-05 19:33] robgur commented on #41
Would it be so bad to use dwc:latitude and dwc:longitude for the latlon
pairs?
On Oct 5, 2015 3:21 PM, "Bryce Mecum" notifications@github.com wrote:

[2015-10-05 21:58] amoeba commented on #40
See:
- d203a256af1c897ad416df4381e0a349be8b65ec
- 6e5dfbd68955825a13c4b3932267ce95fa9b68cd
- a9a98eeb979cbb6d26e23244b0c78886f1350c57

[2015-10-05 21:59] #40 closed, assigned to amoeba

[2015-10-06 05:04] dr-shorthair commented on #41
@amoeba - OWL-Time is really only necessary if you want to mix Intervals and Instants, and have safe ordering relationships (temporal topology) preserved, and that requires a non-standard 'temporal reasoner' anyway.

If you only need time-instants, then two helpful types are built-in to OWL2 - xsd:dateTime and xsd:dateTimeStamp http://www.w3.org/TR/owl2-quick-reference/#Built-in_Datatypes . The le

[2015-10-12 23:17] mbjones commented on #41
@amoeba @robgur @dr-shorthair Regarding Simon's comments, I fully agree in theory that what he describes is the best way to create things de novo.

However, in this case, we are modeling _existing data structures_, in which there is a column of data in a file or database with the name 'lat' and which represents the latitude portion of a point -- the very purpose of the annotation is to take this d

[2015-10-12 23:36] dr-shorthair commented on #41
OK - if you want tags 'lat' and 'lon', find them here:

http://www.w3.org/2003/01/geo/wgs84_pos#lat
http://www.w3.org/2003/01/geo/wgs84_pos#long
also
http://www.w3.org/2003/01/geo/wgs84_pos#alt
and
http://www.w3.org/2003/01/geo/wgs84_pos#lat_long

No point in doing anything new. In this context,

geosparql:SpatialObject owl:equivalentClass http://www.w3.org/2003/01/geo/wgs84_pos#SpatialThing .
geo

[2015-11-29 02:12] dr-shorthair commented on #21
An updated version of [2] is now on the Semantic Web Journal site.
No significant differences in the paper for our purposes.

http://semantic-web-journal.net/content/ontology-observations-and-sampling-features-alignments-existing-models-0

[2015-11-30 19:52] dr-shorthair commented on #41
Looking again at the treatment of position: do you have to use a measurement to capture every attribute in OBOE? If so, then you will probably need to use one of these:
http://www.opengis.net/def/axis/ogc/1.0/
http://www.opengis.net/def/axis/EPSG/0/ (this list is unfriendly, sorry - not my system)

[2015-11-30 20:42] amoeba commented on #41
Do you mean 'every attribute' in the sense that saying '-64.005' is a `<http://www.w3.org/2003/01/geo/wgs84_pos#long>` is insufficient for understanding it and that it really has multiple implicit attributes or do you mean 'attribute' in the sense of 'a column in the tabular dataset'?

[2015-11-30 21:01] dr-shorthair commented on #41
I mean does every column in the table have to be treated the same in OBOE? Are oboe measurements the _only_ place to put data? Most geospatial models treat time and space differently, unless the method used to determine them is interesting.

[2015-11-30 21:06] mbjones commented on #41
Yes, time and space are treated uniformly in OBOE like other measurements, and there are no separate fields for time and space even though they are common measurement types for context, along with biological taxonomy.

[2015-12-10 22:12] amoeba commented on #41
Worked on this some more:

**Columns: 'lat' and 'lon'**
- Entity
  I went ahead and used `geo:Point` because that's the more specific (compared to `geo:SpatialThing` or `geo:Feature`). I also created the alignment triple:

  `geo:SpatialThing rdfs:subClassOf oboe-core:Entity`
- Characteristic

  I wanted something like `x:location`. PATO has a 'position' class ([ontobee link](http://www.ontobee.or

[2015-12-10 22:44] wernerkuhn commented on #41
Excuse my superficial remark from a probably uninformed perspective: do we really want to base our semantics on that definition of the PATO ‘position' class you quote? It could come straight out of a French philosophy text translated into English (if I may say so). I am not blaming you for this, but hoping we can find something better. What exactly do we need there?

-- 
Werner 

On December 10, 2

[2015-12-11 00:00] amoeba commented on #41
Thanks for chiming in @wernerkuhn. I am likely the least experienced with these things so I welcome the feedback.

I went with PATO's 'position' simply because I finally found something that I thought could work and we've been using PATO for other parts of this example. From a practical perspective, I am happy to change it.

Since I'm looking for something compatible with `oboe:Characteristic` (vi

[2015-12-11 00:13] wernerkuhn commented on #41
I understand and am all for a practical solution. But why would an ontology of phenotypes be a useful source for location vocabularies? What alternatives do we have?

-- 
Werner 

On December 10, 2015 at 4:00:30 PM, Bryce Mecum (notifications@github.com) wrote:

Thanks for chiming in @wernerkuhn. I am likely the least experienced with these things so I welcome the feedback.

I went with PATO's 'po

[2015-12-11 00:22] amoeba commented on #41
There are other options, but nothing I've found refers to the concept of location (which is closer to what I want). If others think it's okay, we could use:
- We could use `wgs_84:SpatialThing`: "Anything with spatial extent, i.e. size, shape, or position.
  e.g. people, places, bowling balls, as well as abstract areas like cubes." But this is more like an `oboe:Entity`
- http://www.w3.org/2007/uw

[2015-12-11 00:29] wernerkuhn commented on #41
So, what is it that you want? A location relative to another entity or a position in a coordinate reference system? Or both or something else?

-- 
Werner 

On December 10, 2015 at 4:22:50 PM, Bryce Mecum (notifications@github.com) wrote:

There are other options, but nothing I've found refers to the concept of location (which is closer to what I want). If others think it's okay, we could use:

We

[2015-12-11 00:36] amoeba commented on #41
I'd be happy if I found something like "Where something is in space". I don't think we need to get as specific as CRS's.

But I don't think I know enough about what the implications are of choosing one concept over another. As I understand it, we're marking up these datasets and running SPARQL queries over them. I assume any poor choices in doing this part would come up when we write/run our queri

[2015-12-11 01:20] amoeba commented on #41
@mpsaloha I'm having trouble tracking down an `oboe:Characteristic` for the potential temperature of water. I did find this:

[code]

Any thoughts?

[2015-12-11 18:27] dr-shorthair commented on #41
I'm a bit unclear about the namespaces you are using here Bryce.
The W3C Basic Geo vocabulary http://www.w3.org/2003/01/geo/ contains the classes
     SpatialThing, Point
and the properties
    location, lat, long, (also lat_long, alt)
There is no 'latitude' or 'longitude'. But the predicate 'location' might fit your bill.

OGC GeoSparql  http://www.opengis.net/ont/geosparql contains classes
    S

[2015-12-11 18:30] amoeba commented on #41
Thanks for the catch. I had intended to reference the  http://www.w3.org/2003/01/geo/ for `Point`, `lat`, and `lon` as I thought it was sufficient for our needs. Sorry for the confusion.

[2015-12-11 18:31] dr-shorthair commented on #41
This all does underline, however, the issues I was raising. Treating 'latitude' and 'longitude' as scalar values is customary, but incorrect. Coordinate values are not independent of each other, or of the coordinate reference system in use. These components are strictly axes of a CRS. Widespread availability of GPS has made life easier for the user, but if semantics is our game, then we need to be

[2015-12-11 18:36] amoeba commented on #41
Is observation modeling even capable of handling this nuance though? We need to mark up the observation-level semantics for each column in our data independent of one another I feel like we're stuck with this because of that restriction.

[2015-12-11 18:39] dr-shorthair commented on #41
I see what you are doing here. The input is just two columns. In the output you are lifting it to a 2-D point. The W3C Geo vocabulary kinda captures common practice, as encouraged by GPS, but is inadequate if any other CRS is involved (e.g. UTM coordinates, British National Grid, etc). Much historic data will be using various customary coordinate systems, often Transverse Mercator, taken from pape

[2015-12-11 18:41] dr-shorthair commented on #41
Above you wrote "I don't think we need to get as specific as CRS's."
If everyone was using GPS with the same settings, maybe. But is this the case?

[2015-12-11 18:42] wernerkuhn commented on #41
Also, how are you dealing with place names? I think the underlying issue here is not just different reference systems, and possibly 1/2/3 dimensions, but that we need to have a way of annotating one or more columns together as encodings of location. 

-- 
Werner 

On December 11, 2015 at 10:39:15 AM, Simon Cox (notifications@github.com) wrote:

I see what you are doing here. The input is just two

[2015-12-11 18:43] dr-shorthair commented on #41
And regarding CRS: datum shifts can affect locations by 100s metres.
Australia had a datum shift in 1994 which moved most by ca. 200m

[2015-12-11 18:45] amoeba commented on #41
It would be a very poor assumption to assume everyone used the same GPS settings. However.

We're limited to what's in the data and metadata. For this Sargasso dataset, the **only** think we know is that there is a string which reads "-112.12" and it is in a column called 'longitude'. I'm doing the rest of the inference about what that string means. We aren't given the Standard by which the value

[2015-12-11 18:45] robgur commented on #41
We absolutely need datum.

On Fri, Dec 11, 2015 at 1:43 PM, Simon Cox notifications@github.com wrote:

[2015-12-11 18:50] amoeba commented on #41
(Minor correction to my above). Here's what this dataset specifies about its lat and lon parameters:

lon: http://www.bco-dmo.org/dataset-parameter/26425
lat: http://www.bco-dmo.org/dataset-parameter/26426

Edit: Which leads up to http://vocab.nerc.ac.uk/collection/P09/current/LONX/

[2015-12-11 18:51] dr-shorthair commented on #41
Yes - the limitation is in the input data. I think this is in the OBOE model, which does not couple columns or provide CRS information. So the question is what assumptions can be built in to the algorithm that lifts it into a different vocabulary/ontology. Primarily, if or when we can use richer concepts like geo:Point (which implies WGS84) or geosparql:Geometry (which requires an explicit CRS). I

[2015-12-11 18:57] amoeba commented on #41
I think that's great, and also necessary. For simpler data like the weight of things, we're able to completely specify the semantics with a Characterstic of Weight and a Standard of, e.g., Kilograms such that when another value in another dataset has Weight values measured against a Standard of Pounds, we can convert between the two with near-perfect accuracy.

Leaving latitude and longitude witho

[2015-12-11 19:22] mbjones commented on #41
@dr-shorthair wrote: "OBOE model, which does not couple columns"; in my perspective, coupling columns is exactly what OBOE does, and why an OBOE Observation is composed of multiple Measurements.  Given a data set that has two variables (lat, lon) that are described in natural language metadata as a paired latitude and longitude value, OBOE allows us to describe these as a single Observation that r

[2015-12-11 20:43] dr-shorthair commented on #41
Yes, but it couples them _all_. Here we need a specific subset of columns (the coordinates) to be coupled in a specific way (to create a vector quantity, i.e. position, using a specific CRS).

The strict 'OBOE' method for specifying position should probably be a separate oboe:Observation for position. This would connect both the method (e.g. GPS, triangulation, estimation from a map) and the CRS t

[2015-12-11 21:02] mbjones commented on #41
OBOE allows coupling of just a subset of columns.  In this case, we would have an OBOE:Observation for just the Point, and other OBOE:Observations for other sets of columns that have linked dependencies.

For the Sargasso Sea data, the fact that those real numbers represent a Point is simply implied and not explicit.  CSV data in general has almost no semantics attached, and these cross-variable r

[2015-12-11 21:11] dr-shorthair commented on #41
I think we just said the same thing :)

[2015-12-15 05:27] dr-shorthair commented on #41
To finish that thought: I suggest that the conversion from the spreadsheet should create at least two oboe:Observations per row - one for the position information (lat, long) which will allow the coordinates to be explicitly coupled, and linked to the positioning procedure and CRS if known, and one for all the rest of the properties (measurements). The former provides context for the latter.

[2015-12-15 05:29] dr-shorthair commented on #41
Now I looked at the ttl, and can see that is essentially what you have done ... I think ... sorry for the confusion. Nice work. Now I'm embarrassed for arguing a point that had already been made. But also motivated to generate the equivalent using om-lite. Watch this space.

[2015-12-15 05:45] wernerkuhn commented on #41
Is time treated as a non-observation?

-- 
Werner 

On December 14, 2015 at 9:29:23 PM, Simon Cox (notifications@github.com) wrote:

Now I looked at the ttl, and can see that is essentially what you have done ... I think.

—
Reply to this email directly or view it on GitHub.

[2015-12-15 05:57] dr-shorthair commented on #41
Bryce has modeled it so that time and date are also measurements, that are members of observations which provide context for the thematic observations.

[2015-12-15 05:59] wernerkuhn commented on #41
Good, thank you!

-- 
Werner 

On December 14, 2015 at 9:57:41 PM, Simon Cox (notifications@github.com) wrote:

Bryce has modeled it so that time and date are also measurements, that are members of observations which provide context for the thematic observations.

—
Reply to this email directly or view it on GitHub.

[2016-01-11 05:56] dr-shorthair commented on #41
However - in O&M there is a 'SamplingPoint' class, which has a 'shape' property whose value is a spatial position. i.e. if you model the Cast as a sampling point, then its location is _not_ an observation. If you do wish to record the procedure used to determine position, then you can model that information as part of an observation, but O&M promotes some properties so this isn't necessary if the

[2016-01-13 01:05] dr-shorthair commented on #21
Semantic Web Journal paper officially accepted for publication (2015-12-12)
http://semantic-web-journal.net/content/ontology-observations-and-sampling-features-alignments-existing-models-0

[2016-01-13 01:06] dr-shorthair commented on #21
Also see this presentation from AGU: http://www.slideshare.net/drshorthair/pitfalls-in-alignment-of-observation-models-resolved-using-prov-as-an-upper-ontology

[2016-01-13 15:10] ramonawalls commented on #21
Great Simon! Glad to see it published.

[2016-02-10 16:46] pbuttigieg commented on #19
We decided to use an AWI data set and its associated data from:
[Biogeography of Deep-Sea  Benthic Bacteria at Regional Scale](http://dx.doi.org/10.1371/journal.pone.0072779)

[2016-02-10 16:48] pbuttigieg commented on #19
Initial representation attached - some work still needs to be done here, but we're translating this to RDF.
[SemantiObs_AWI3-copy.zip](https://github.com/Semantic-Observations/obs-models/files/125134/SemantiObs_AWI3-copy.zip)